//colors
$color-primary: #0247FE;
$color-primary-light: #678FFE;
$color-primary-dark: #012998;

$color-secondary-light: #33ccff;
$color-secondary-dark: #006080;

$color-tertiary-light: #2ab836;
$color-tertiary-dark: #095806;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333; 

$color-white: #fff;
$color-black: #000;

//font

$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


$default-border-radius: 3px;